
body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "helvetica", "arial", sans-serif;
    b
    background-color: #E6E8E6;
    line-height:1.5;
    padding: 4em 1 em;
    }

.header {
    color: #E4572E;
    position: absolute;
    top: 25px;
    left: 40px;
    }

#tagline {
    color: #8b8b00
}

h1  {
    color: #8b008b;
}

h2 {
    color: #008b8b;
    text-decoration: underline;
    margin-top: 1em;
    padding-top: 1em;
    text-align: left;
    font
    }

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
}

a:link {
    color: #00008b;

}

a:hover {
    color: #8b8b00;
    font-size:
}

#footer {
    color: #E4572E;
    font-family: verdana, sans-serif;
    font-size: 0.5em;
    text-align: right;
    }













